/*#graph-container{
	height:auto;
}

#mycanvas{
	width:70%;
	height:auto;
	max-height: 280px;
}

#stats{
	border:1px solid black;
	min-height: 400px;
	height:100%;
	min-width: 200px;
	width:29%;
	display:inline-block;
}

.table {display:table;}
.row {display:table-row; }
.cell{display:table-cell;} 


/* RESET HERE */

body{
	min-width: 100%;
	min-height:100%;
    /*background-color: yellow;*/
    padding:0;
    margin:0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

button:hover{
	cursor:pointer;
}

.controls{	
	margin: 2px;
}

.left{
	/*background-color: red;*/
	min-height: 8em;
    float:left;
    /* REMOVE THIS */
    border:1px solid;
}

.middle{
	/*background-color: orange;*/
	min-height: 2em;
    float:left;
}

.right{
	/*background-color: green;*/
	min-height: 10em;
	float:left;
}

.wrapper{
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 90%;
    min-width: 16em;
}

.table {
	display:table;
	width:100%;
}

.row {
	display:table-row; 
}

.cell{
	display:table-cell; 
	padding:4px;
	border-bottom: 1pt solid black;
}

.a{
	background-color: #e6eeff;
}

.b{
	background-color: #f2f2f2;
}

@media (max-width: 700px) {
	.left{
	    height:40%;
	    width: 100%;
	}

	.middle{
		width:100%;
		height:10%;
	}

	.right{
	    height:60%;
	    width:100%;
	}

	.wrapper{
	    height:80%;
	    top: 6%;
	}

	.rtd-h1{
		margin-top: 6px;
	}
}

@media (min-width: 701px) {
	.left{
	    height:100%;
	    /* REINSTATE THIS 
	    width: 52%; */
	    width:50%;
	}

	.middle{
		width:8%;
		height:100%;
	}

	.right{
	    height:100%;
	    width: 40%;
	}

	.wrapper{
	    height:60%;
	    top: 18%;
	}

	.rtd-h1{
		margin-top: -4px;
	}

	.controls{
		margin-right:50%;
	}
}