/* RESET HERE */

button:hover{
	cursor:pointer;
}

#graph-container{
	margin-top: 1em;
	margin-bottom: 1.5em;
}	

.controls{	
	margin: 2px;
}

.wrapper{
    margin-right: auto;
    margin-left: auto;
    min-height: 10em; 
    min-width: 16em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    top: 6%;
}

.table {
	display:table;
	width:100%;
}

.row {
	display:table-row; 
}

.cell{
	display:table-cell; 
	padding:4px;
	border-bottom: 1pt solid black;
}

.a{
	background-color: #e6eeff;
}

.b{
	background-color: #f2f2f2;
}

.rtd-h1{
	margin-top: 6px;
}

.right{
    margin-top: 1em;
}
/* Small */
@media (max-width: 1000px) {

	#graph-container{
		height:180px;
		width:260px;
	}

	.wrapper{
		width:25%;
	}

}
/* Large */
@media (min-width: 1001px) {

	#graph-container{
	    height: 300px;
	    width: 100%;
	}

	.wrapper{
		width:45%;
	}

}